<div class="nav-container">
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HomeCtrl">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" scroll-to="home">Big Moon Creative</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" scroll-to="services">Services</a></li>
        <li><a href="#" scroll-to="portfolio">Portfolio</a></li>
        <li><a href="#" scroll-to="behind-the-moon">Team</a></li>
        <li><a href="#" scroll-to="contact">Contact</a></li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>


<div class="landing-img" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <p class="text-center"><img src="../assets/images/BigMoonSmall.png" alt="Big Moon Creative" class="img-responsive" /></p>
      </div>
    </div>
  </div>
</div>

<div class="services-container" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="subhead">Services</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
         <p class="service-header">Design</p>
         <p class="service-sub">Print &amp; Graphic</p>
         <p class="service-text">We design attractive print pieces that can serve a number of purposes. We can also provide illustrations for books and other mediums.</p>
         <p class="text-center btn-pad"><p class="text-center"><a scroll-to="contact" class="btn btn-blue">Get Started</a></p><br>
         <!--<p class="text-center btn-pad"><a ng-click="scrollTo('formStop')" class="get-started">Get Started <span class="glyphicon glyphicon-arrow-right"></span></a></p><br>-->
      </div>
      <div class="col-md-4">
        <p class="service-header">Web</p>
        <p class="service-sub">Development &amp; Design</p>
        <p class="service-text">We build beautiful, modern websites that meet the goals of our clients and the needs of their customers. All of our sites are mobile and tablet friendly.</p>
        <p class="text-center btn-pad"><p class="text-center"><a scroll-to="contact" class="btn btn-blue">Get Started</a></p><br>
      </div>
      <div class="col-md-4">
        <p class="service-header">Marketing</p>
        <p class="service-sub">Branding &amp; Communication</p>
        <p class="service-text">We can help grow your business by designing an appealing logo as well as offer services to communicate your message effectively.</p>
        <p class="text-center btn-pad"><p class="text-center"><a scroll-to="contact" class="btn btn-blue">Get Started</a></p><br>
      </div>
    </div>
  </div>
</div>


<div class="portfolio-container" id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="subhead">Portfolio</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="samples">Print Samples</p>
      <div class="image-container">
        <div class="row">
          <div class="col-md-4 col-xs-6 thinpadding">
            <a href="#" class="thumbnail" ng-click="openWish()">
              <img src="../assets/images/wish_thumb.png" class="thumb-img" />
            </a>
            <script type="text/ng-template" id="wish">
              <img src="../assets/images/wishbig.png" alt="Make a Wish" class="expanded-img" />
            </script>
          </div>
          <div class="col-md-4 col-xs-6 thinpadding">
            <a href="#" class="thumbnail" ng-click="openHarvick()">
              <img src="../assets/images/harvick_thumb.png" class="thumb-img" />
            </a>
            <script type="text/ng-template" id="harvick">
              <img src="../assets/images/harvick.png" alt="Make a Wish" class="expanded-img" />
            </script>
          </div>
          <div class="col-md-4 col-xs-6 thinpadding">
            <a href="#" class="thumbnail" ng-click="openMarried()">
              <img src="../assets/images/married_thumb.png" class="thumb-img" />
            </a>
            <script type="text/ng-template" id="married">
              <img src="../assets/images/married.png" alt="Make a Wish" class="expanded-img" />
            </script>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <p class="samples">Website Samples</p>
      <div class="image-container">
      <div class="row">
        <div class="col-md-4 col-xs-6 thinpadding">
          <a href="#" class="thumbnail" ng-click="openOThePlaces()">
            <img src="../assets/images/otheplaces_thumb.png" class="thumb-img" />
          </a>
          <script type="text/ng-template" id="oThePlaces">
            <img src="../assets/images/otheplaces.png" alt="Make a Wish" class="expanded-img" />
          </script>
        </div>
        <div class="col-md-4 col-xs-6 thinpadding">
          <a href="#" class="thumbnail" ng-click="openDogWeb()">
            <img src="../assets/images/dog_thumb.png" class="thumb-img" />
          </a>
          <script type="text/ng-template" id="dogWeb">
            <img src="../assets/images/dog.png" alt="Make a Wish" class="expanded-img" />
          </script>
        </div>
        <div class="col-md-4 col-xs-6 thinpadding">
          <a href="#" class="thumbnail" ng-click="openMati()">
            <img src="../assets/images/mati_thumb.png" class="thumb-img" />
          </a>
          <script type="text/ng-template" id="mati">
            <img src="../assets/images/mati.png" alt="Make a Wish" class="expanded-img" />
          </script>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="samples">Marketing Samples</p>

      <div class="image-container">

      <div class="row">
        <div class="col-md-4 col-xs-6 thinpadding">
          <a href="#" class="thumbnail" ng-click="openLab()">
            <img src="../assets/images/insomniappLabs_thumb.png" class="thumb-img" />
          </a>
          <script type="text/ng-template" id="labs">
            <img src="../assets/images/insomniappLabs.png" alt="Make a Wish" class="expanded-img" />
          </script>
        </div>
        <div class="col-md-4 col-xs-6 thinpadding">
          <a href="#" class="thumbnail" ng-click="openLakewood()">
            <img src="../assets/images/lakewood_thumb.png" class="thumb-img" />
          </a>
          <script type="text/ng-template" id="lakewood">
            <img src="../assets/images/lakewood.png" alt="Make a Wish" class="expanded-img" />
          </script>
        </div>
        <div class="col-md-4 col-xs-6 thinpadding">
          <a href="#" class="thumbnail" ng-click="openBrick()">
            <img src="../assets/images/brickHouse_thumb.png" class="thumb-img" />
          </a>
          <script type="text/ng-template" id="brick">
            <img src="../assets/images/brickHouse.png" alt="Make a Wish" class="expanded-img" />
          </script>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>



<div class="about-container" id="behind-the-moon">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="subhead"><span class="subhead-about">Behind the Moon</span></h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-4 col-xs-offset-2 col-xs-8 col-sm-6">
      <p class="text-center"><img src="../assets/images/tim.png" alt="Tim LaCapra-Lead Designer" class="img-responsive center-block round-img" /></p>
      <p class="name">Tim LaCapra</p>
      <p class="title">Lead Designer</p>
      <!--<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel hendrerit nibh, mollis laoreet tortor.</p>-->
      <br>

      <p class="contact-hdr">Contact:</p>
      <p class="contact-email">tim@bigmooncreative.com</p>
        <p class="contact-phone">615.545.8095</p>
    </div>
    <div class="col-md-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
      <p class="text-center"><img src="../assets/images/aaron.png" alt="Aaron Johnson-Lead Developer" class="img-responsive center-block round-img"/></p>
      <p class="name">Aaron Johnson</p>
      <p class="title">Lead Developer</p>
      <!--<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel hendrerit nibh, mollis laoreet tortor.</p>-->
      <br>
      <p class="contact-hdr">Contact:</p>
      <p class="contact-email">aaron@bigmooncreative.com</p>
        <p class="contact-phone">615.630.1457</p>
    </div>
  </div>
</div>
</div>

<div class="contact-container" id="contact">
  <!--<div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="subhead">Contact</h3>
      </div>
    </div>
  </div>-->
  <div class="container">
    <div class="row">
      <!--<div class="col-md-offset-1 col-md-5">

        <p class="contact-name">Tim LaCapra</p>
        <p class="contact-email">tim@bigmooncreative.com</p>
        <p class="contact-phone">615.545.8095</p>

        <br>

        <p class="contact-name">Aaron Johnson</p>
        <p class="contact-email">aaron@bigmooncreative.com</p>
        <p class="contact-phone">615.630.1457</p>


      </div>-->
      <div class="col-md-offset-3 col-md-6" ng-controller="HomeCtrl">
        <p class="intouch">Get in Touch</p>
        <p class="intouch-text">Tell us about your project. We typically respond in two business days to set up a meeting where we can get to know each other and start defining goals, scope, budget, and timeline.</p>
        <form id="formStop" name="contactForm" novalidate="" method="post">
          <div class="form-group">
            <label class="contact-form-label" for="name">Full Name *</label>
            <input type="text" class="form-control"ng-model="contactName" required="" />
          </div>
          <div class="form-group">
            <label class="contact-form-label" for="email">Email Address*</label>
            <input type="email" class="form-control"ng-model="contactEmail" required="" />
          </div>
          <div class="form-group">
            <label class="contact-form-label" for="message">Tell us about your project</label>
            <textarea type="text_area" class="form-control" rows="4" ng-model="contactMessage" required="" ng-minlength="5" ng-maxlength="200"></textarea>
          </div>
          <button ng-click="sendContactEmail()" class="btn btn-blue">Get In Touch</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center icons">
          <a href="mailto:bigmooncreative@gmail.com"><img src="../assets/images/mail.png" alt="mail" width="35" /></a>
          <a href="https://www.facebook.com/pages/Big-Moon-Creative/701711836561993?ref=hl" target="_blank"><img src="../assets/images/fb.png" width="40" /></a>
          <a href="https://twitter.com/bigmooncreative" target="_blank"><img src="../assets/images/tw.png" width="40" /></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <p class="footer-text">&copy; 2014 Big Moon Creative. All Rights Reserved.</p>
</div>
