.landing-img { background:transparent;padding-top:0px;padding-bottom:100px; }
.rising { margin-bottom:0px;font-family:'latolight';text-transform:uppercase;color:#f9e4af;font-weight:600;font-size:3.0em;letter-spacing:1px; }
.landing-btm { border-top:1px solid #aaa;padding-top:10px; }
.landing-image { width:100%; }
.company { font-family:'latoblack';color:#fff;text-transform:uppercase;letter-spacing:1px;font-size:1.6em; }
.tags { font-family:'latolight';color:#ACC3D1;text-transform:uppercase;letter-spacing:1px;font-size:1.9em; }
.blue { color:#39afd5;font-family:'latolight'; }
.moon-img { padding-top:0; }

.navbar-collapse.collapse {
	text-align:center;
	display:block !important;
	height:auto !important;
	padding-bottom:0;
	overflow:visible !important;
}
.navbar-nav {
	display:inline-block;
	float:none;
	margin:0;
}

.navbar-nav > li > a {
	font-size:1.4em;
	font-weight:200;
}
.home-desc {
	font-weight:200;
	font-size:2.5em;
	text-align:center;
}